<h1>My Robots</h1>

<% @robots.each do |robot| %>
  <h3>THIS UNIT'S NAME IS: <%= robot.name %></h3>
  <p>IT OCCUPIES: <%= robot.city %></p>
  <p>WHICH IS IN: <%= robot.state %></p>
  <p>THIS UNIT'S JOB IS: <%= robot.department %></p>
  <a href="/robot/<%= robot.id %>/edit">EDIT THIS UNIT</a>
<% end %>
